.accounts-tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    > div {
        box-sizing: border-box;
        text-align: center;
        width: 50%;
        font-size: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, .5);
        color: #000;
        &:first-of-type {
            border-right: 2px solid rgb(119, 118, 118);
        }
        &:active {
            background-color: rgba(255, 255, 255, .3);
        }
    }
    .active {
        background-color: rgba(255, 255, 255, .8);
    }
}
.accounts-list {
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 18px;
        border-bottom: 1px solid #333;
        &:active {
            background-color: rgba(0,0,0,.5);
        }
        .title {
            display: flex;
            flex-direction: column;
            &__type {
                font-size: 12px;
                margin-top: 5px;
                color: #bbadad;
            }
        }
    }
    button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        font-size: 18px;

        &:active {
            opacity: .5;
        }
    }
}


.overlay {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
    z-index: 1;

    &__header {
        position: fixed;
        top: 0;
        display: flex;
        background-color: #4f4660;
        width: 100%;
        height: 50px;
        align-items: center;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,.3);
        z-index: 1;
        padding: 0 10px;

        .back-button {
            background-image: url('../img/arrow-back.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 15px;
            width: 10px;
            margin-right: 10px;
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-right: 10px;
            > div {
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 18px;
            }
        }
    }
    &__content {
        margin-top: 50px;
        padding: 20px;
        padding-bottom: 70px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        input,
        textarea,
        select {
            border: 2px solid #777;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 6px;
            font-size: 18px;
            transition: border-color .3s ease;
            &:active,
            &:focus {
                border-color: #333;
            }
        }
        textarea {
            height: 20vh;
            min-height: 100px;
        }
        button {
            width: 100%;
            font-size: 18px;
            padding: 15px;
            border-radius: 50px;
            background-color: #4f4660;
            color: #fff;

            &:active {
                background-color: #373142;
            }
        }
        .delete-link {
            color: #dd2e17;
            margin: 40px auto;
            text-decoration: underline;
            font-size: 18px;
            font-weight: 600;
            &:active {
                color: #b92511;
            }
        }
    }
}

.transfer-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 70px;
    box-sizing: border-box;

    input,
    textarea,
    select {
        position: relative;
        width: 100%;
        border: 2px solid #777;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 6px;
        font-size: 18px;
        transition: border-color .3s ease;
        &:active,
        &:focus {
            border-color: #333;
        }
    }
    textarea {
        height: 15vh;
        min-height: 50px;
    }
    button {
        width: 100%;
        font-size: 18px;
        padding: 15px;
        border-radius: 50px;
        background-color: #4f4660;
        color: #fff;

        &:active {
            background-color: #373142;
        }
    }
}