@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,600&display=swap&subset=cyrillic');
html,
body,
.spender {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #ffecec;
    background-color: #09030f;
    background: -moz-linear-gradient(45deg,  #09030f 0%, #312647 100%);
    background: -webkit-linear-gradient(45deg,  #09030f 0%,#312647 100%);
    background: linear-gradient(45deg,  #09030f 0%,#312647 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09030f', endColorstr='#312647',GradientType=1 );
    overflow: auto;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    outline: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    border: 0;
}
b {
    font-weight: 600;
}
.sidebar {
    display: none;
}
.header {
    display: flex;
    background-color: rgba(217, 217, 217, .2);
    width: 100%;
    height: 50px;
    align-items: center;

    &__hamburger {
        background-image: url('../img/hamburger.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 15px;
        width: 21px;
        margin-left: 10px;
        margin-right: 10px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        div {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 18px;
        }
    }
    &__balance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-right: 10px;
        span,
        b {
            font-size: 9px;
            margin: 2px 0;
        }
        .sum {
            font-weight: 600;
            font-size: 16px;
        }
    }
}

.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__field {
        width: 100%;
        color: #cabbbb;
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }
    table {
        font-size: 18px;
        font-weight: 600;
        td {
            min-width: 20px;
            border-radius: 6px;
            padding: 10px 15px;
            margin: 10px;
            background-color: rgba(255, 255, 255, .8);
            text-align: center;
            color: #000;
            border: 3px solid #09030f;
            &:active {
                background-color: rgba(255, 255, 255, .4);
            }
            &:first-of-type {
                background-color: rgba(255, 255, 255, .6);
            }
        }
        .c {background-color: rgba(255, 255, 255, .6);}
    }
}

.categories {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    > div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        width: 60px;
        text-align: center;
        padding: 2px;
        &::before {
            content: "";
            position: absolute;
            transition: opacity .1s ease-out;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            border-radius: 6px;
            background: rgba(255,255,255,0.3);
            background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.3)), color-stop(100%, rgba(255,255,255,0.1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
        }
        &:active {
            &::before {
                opacity: 1;
            }
        }

        > div {
            display: flex;
            width: 50px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 5px;
        }
        > span {
            font-size: 12px;
        }
    }
}

.journal {
    width: 100%;
    header {
        text-align: center;
        padding: 10px;
        background-color: rgba(255, 255, 255, .4);
    }
    &__items {
        width: 100%;
    }
    &__item-row {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100%;
        background-color: rgba(255, 255, 255, .1);
        border-bottom: 1px solid #3c2e49;
        .icon {
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
        .details {
            width: calc(100% - 65px);
            display: flex;
            justify-content: space-between;
        }
        .item {
            display: flex;
            flex-direction: column;
            span {
                font-size: 12px;
                margin: 2px 0;
                &:first-of-type {
                    font-size: 18px;
                }
            }
        }
        .sum-date {
            display: flex;
            flex-direction: column;
            text-align: right;
            margin: 2px 0;
            font-size: 12px;
            span {
                &:first-of-type {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}
.ic-folder {background-image: url(../img/item-icons/folder.svg);}
.ic-bill {background-image: url(../img/item-icons/bill.svg);}
.ic-apple {background-image: url(../img/item-icons/apple.svg);}
.ic-label {background-image: url(../img/item-icons/label.svg);}
.ic-car {background-image: url(../img/item-icons/car.svg);}
.ic-drama {background-image: url(../img/item-icons/drama.svg);}
.ic-ambulance {background-image: url(../img/item-icons/ambulance.svg);}
.ic-home {background-image: url(../img/item-icons/home.svg);}